DATABASE_URL=postgresql://postgres:postgres@db:5432/wheelsense?schema=public
MQTT_URL=mqtt://broker.emqx.io:1883
MQTT_TOPIC=wheelsense/#
API_PORT=4000
WEB_PORT=3000
ONLINE_WINDOW_SEC=30
ROUTE_RECOVERY_WINDOW_SEC=120
REDIS_URL=redis://redis:6379
NEXT_PUBLIC_API_URL=http://api:4000

